@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.sans {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}